{% extends 'todoapp/base.html' %}

{% block title %}{{todo_list.name}}{% endblock %}

{% block content %}
<style>
  .completed {
    color: grey;
    text-decoration: line-through;
  }
  form {
    margin: 0;
  }
</style>

<form action="{% url 'todoapp:create_todo_item' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="todo_list_id" value="{{todo_list.id}}"/>
  <input type="text" name="todo_item_text"/>
  <button type="submit">add item</button>
</form>
<table>
  {% for todo_item in todo_list.get_todo_items %}
    <tr>
      <td>{{todo_item.text}}</td>
      <td>
        <a href="{% url 'todoapp:complete_todo_item' todo_item.id %}">✓</a>
      </td>
    </tr>
  {% endfor %}
  {% for todo_item in todo_list.get_completed_items %}
    <tr>
      <td class="completed">{{todo_item.text}}</td>
      <td><a href="{% url 'todoapp:restore_todo_item' todo_item.id %}">↺</a></td>
    </tr>
  {% endfor %}
</table>

<br/><br/><br/><br/><br/>
<a href="{% url 'todoapp:index' %}">back</a>
{% endblock %}
