
{% load static %}

<h1>hello!</h1>
<style>
  #gallery {
    display:flex;
    flex-direction:column;
  }
  #gallery > * {
    margin: 10px;
  }
</style>
<script src="{% static 'fileapp/local_settings.js' %}">
</script>


<form action="{% url 'fileapp:save_gallery_item' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="title"/>
    <input type="file" name="image" accept="image/*" required>
    <button type="submit">submit</button>
</form>
<div id="gallery">
  {% for gallery_item in gallery_items %}
  <a href="{{gallery_item.image.url}}">{{gallery_item.title}}</a>
  <img src="{{gallery_item.image.url}}" width="100px"/>
  {% endfor %}
</div>
